HOST=
PORT=

DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=

# JWT Configuration
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

# Qdrant Configuration
QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_COLLECTION=query_docs_collection

LANGSMITH_API_KEY=
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=query-docs-multi-ai-agent